{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.jline/jline-terminal {:mvn/version "3.26.2"}}
 :aliases
 {:build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.4"}
                 slipset/deps-deploy {:mvn/version "0.2.1"}}
          :ns-default build}
  :dev {:extra-deps {com.fzakaria/slf4j-timbre {:mvn/version "0.4.1"}
                     lambdaisland/kaocha {:mvn/version "1.91.1392"}
                      lambdaisland/kaocha-cucumber {:mvn/version "0.11.100"}}}
  :test {:extra-paths ["test"]
         :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}
                      lambdaisland/kaocha-cucumber {:mvn/version "0.11.100"}}
         :main-opts ["-m" "kaocha.runner"]}}}
